

<!-- Begin Page Content -->
<div class="container-fluid">


    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">
                <%= heading %>
            </h6>
        </div>
        <div class="card-body">
            <%- include('../../partials/messages'); %>

            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Title</th>
                            <th>Article Image</th>
                            <th>Description</th>
                            <th>Added On</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Id</th>
                            <th>Title</th>
                            <th>Article Image</th>
                            <th>Description</th>
                            <th>Added On</th>
                            <th>Actions</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr>
                            <% var counter=1; %>
                            <% data.forEach(function(d){ %>
                            <tr>
                                <td><%= counter %></td>
                                <td><%= d.title %></td>
                                <td><img src="/assets/image/o_<%= d.image %>" width="200px" alt=""></td>
                                <td><%= d.description %></td>
                                <td><%= d.addedOn %></td>
                                <td>
                                    <form action="/admin/article/delete" method="POST">
                                    <a href="/admin/article/edit/<%= d._id %>" class="btn btn-warning"><i class="fas fa-edit"></i></a>
                                    <input type="text" name="image_name" value="<%= d.image %>" hidden/>
                                        <button class="btn btn-danger" value="<%= d._id %>" name="a_id"><i class="fas fa-trash"></i></button>
                                    </form>
                                </td>
                            </tr>
                            <% counter++; %>
                          <%  }); %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /.container-fluid -->
</div>
<!-- End of Main Content -->
<script>
    $("#nav-article").addClass("active");
  </script>
  